version: "3.7"
services:
  rotundaspreita-web:
    image: iDarkQ/rotundaspreita-web:latest
    restart: always
    depends_on:
      - db
    ports:
      - "3003:3003"
  db:
    image: postgres:15
    restart: always
    ports:
      - "5433:5433"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # networks:
    #   - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 2s
      retries: 20
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    
# networks:
#   prisma-network:

volumes:
  postgres_data: