@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@theme inline {
  --font-nunito: var(--font-nunito);

  --color-primary: #58A4B0;
  --color-secondary: #A9BCD0;
  --color-background: #f9fafb;
  --color-on-surface: #D8DBE2;
  --color-neutral: rgba(0, 0, 0, 0.54);
  --color-border: rgba(0, 0, 0, 0.12);

  /* --color-button-text: rgba(0, 0, 0, 0.04); */
  --color-tab-background: #f3f4f6;

  --color-button-hover: rgb(61, 114, 123);
  --color-button-disabled: rgba(0, 0, 0, 0.12);

  --color-pagination-item-border: rgba(0, 0, 0, 0.23);
  --color-pagination-item-selected: rgba(0, 0, 0, 0.08);
  --color-pagination-item-hover: rgba(0, 0, 0, 0.04);
  --color-pagination-item-hover-selected: rgba(0, 0, 0, 0.12);

  --color-toggle-button-selected: rgba(0, 0, 0, 0.08);
  --color-toggle-button-hover: rgba(0, 0, 0, 0.04);
  --color-toggle-button-hover-selected: rgba(0, 0, 0, 0.12);

  /* 
  --color-light-primary: #6442d6;
  --color-primary: #9f86ff;
  --color-tertiary-container: #553f5d;
  --color-secondary-container: #45455a;
  --color-on-surface-variant: #cbc4cc;
  --color-light-surface-variant: #cbc4cc;
  --color-on-surface: #1c1b1d;
  --color-light-on-background: #1c1b1d;
  --color-light-on-surface-variant: #4d4256;
  --color-surface-variant: #4d4256;
  --color-primary-80: #ccbeff;
  --color-neutral-10: #1c1b1d;
  --color-neutral-90: #e6e1e3;
  --color-background: #141314;
  --color-on-surface: #1f1f1f;
  --color-on-primary: #1a0056;
  --color-surface-1: #1c1b1d;
  --color-surface-2: #211f21;
  --color-surface-3: #211f21;
  --color-surface-4: #363436;
  --color-surface-4: #363436; */

  --radius-xxl: 32px;
  --radius-xl: 24px;
  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;
  --radius-xsm: 4px;

  --text-9xl: 88px;

  --rotate-130: 110deg;
  --rotate-50: 50deg;
  --rotate-15: 15deg;

  --spacing-xxl: 48px;
  --spacing-lg: 32px;

  --btn-height: 38px;
  --chip-height: 32px;
  --pagination-item-height: 32px;
  --icon-btn-height: 56px;
  --chip-container-height: 32px;

  --breakpoint-xs: 22rem;

  --mio-theme-v2-headline-s-font-size: 24px;

  --animate-ripple-hide: ripple-animation-hide 500ms linear forwards;
  --animate-select-toggle-button: select-toggle-button 1000ms linear forwards;
  --animate-float: float 3s ease-in-out infinite;
}

@layer components {
  .c-border {
    @apply rounded-sm border-(--color-border) border-2;
  }

  .button {
    @apply min-h-[var(--btn-height)] relative overflow-hidden rounded-sm px-3 py-1 cursor-pointer;
    @apply duration-200 transition-colors select-none;
  }

  .button-contained {
    @apply bg-primary hover:bg-button-hover;
  }

  .button-warning {
    @apply bg-red-400 hover:bg-red-500;
  }

  .button-outlined {
    @apply rounded-sm bg-white hover:bg-button-outlined-hover;
  }
}

@keyframes ripple-animation-hide {
  to {
    /* transform: scale(4); */
    opacity: 0;
  }
}

@keyframes select-toggle-button {
  to {
    /* transform: scale(4); */
    background-color: var(--color-toggle-button-selected);
  }
}