@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@theme inline {
  --font-roboto: var(--font-roboto);

  /* tuscan-sun */
  --color-tuscan-sun-50: #fcf6e9;
  --color-tuscan-sun-100: #f8eed3;
  --color-tuscan-sun-200: #f2dca6;
  --color-tuscan-sun-300: #ebcb7a;
  --color-tuscan-sun-400: #e4ba4e;
  --color-tuscan-sun-500: #dea821;
  --color-tuscan-sun-600: #b1871b;
  --color-tuscan-sun-700: #856514;
  --color-tuscan-sun-800: #59430d;
  --color-tuscan-sun-900: #2c2207;
  --color-tuscan-sun-950: #1f1805;

  /* Baltic Blue Color */
  --color-baltic-blue-50: #edf3f8;
  --color-baltic-blue-100: #dae7f1;
  --color-baltic-blue-200: #b6cfe2;
  --color-baltic-blue-300: #91b7d4;
  --color-baltic-blue-400: #6c9fc6;
  --color-baltic-blue-500: #4787b8;
  --color-baltic-blue-600: #326082;
  --color-baltic-blue-700: #2b516e;
  --color-baltic-blue-800: #1d3649;
  --color-baltic-blue-900: #0e1b25;
  --color-baltic-blue-950: #0a131a;

  /* Primary, secondary, etc. */
  --color-primary: var(--color-baltic-blue-600);
  --color-secondary: #e9c46a;
  --color-background: #f9fafb;
  --color-on-surface: #D8DBE2;
  --color-neutral: rgba(0, 0, 0, 0.74);
  --color-border: rgba(0, 0, 0, 0.12);
  --color-success: rgb(88, 191, 107);
  --color-success-bg: rgba(88, 191, 107, 0.15);
  --color-error: rgb(188, 81, 70);
  --color-error-bg: rgba(188, 81, 70, 0.15);

  /* --color-button-text: rgba(0, 0, 0, 0.04); */
  --color-card-secondary: #f3f4f6;
  --color-tab-background: #f3f4f6;

  --color-input-focus-visible: var(--color-baltic-blue-400);
  --color-input: var(--color-baltic-blue-300);

  --color-button-outlined-hover: #F2F2F2;
  --color-button-hover: var(--color-baltic-blue-700);
  --color-button-disabled: rgba(0, 0, 0, 0.12);

  --color-pagination-item-border: rgba(0, 0, 0, 0.23);
  --color-pagination-item-selected: rgba(0, 0, 0, 0.08);
  --color-pagination-item-hover: rgba(0, 0, 0, 0.04);
  --color-pagination-item-hover-selected: rgba(0, 0, 0, 0.12);

  --color-toggle-button-selected: rgba(0, 0, 0, 0.08);
  --color-toggle-button-hover: rgba(0, 0, 0, 0.04);
  --color-toggle-button-hover-selected: rgba(0, 0, 0, 0.12);

  /* 
  --color-light-primary: #6442d6;
  --color-primary: #9f86ff;
  --color-tertiary-container: #553f5d;
  --color-secondary-container: #45455a;
  --color-on-surface-variant: #cbc4cc;
  --color-light-surface-variant: #cbc4cc;
  --color-on-surface: #1c1b1d;
  --color-light-on-background: #1c1b1d;
  --color-light-on-surface-variant: #4d4256;
  --color-surface-variant: #4d4256;
  --color-primary-80: #ccbeff;
  --color-neutral-10: #1c1b1d;
  --color-neutral-90: #e6e1e3;
  --color-background: #141314;
  --color-on-surface: #1f1f1f;
  --color-on-primary: #1a0056;
  --color-surface-1: #1c1b1d;
  --color-surface-2: #211f21;
  --color-surface-3: #211f21;
  --color-surface-4: #363436;
  --color-surface-4: #363436; */

  --radius-xxl: 32px;
  --radius-xl: 24px;
  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;
  --radius-xsm: 4px;

  --text-9xl: 88px;

  --rotate-130: 110deg;
  --rotate-50: 50deg;
  --rotate-15: 15deg;

  --spacing-xxl: 48px;
  --spacing-lg: 32px;

  --navbar-height: 6.25rem;
  --btn-height: 38px;
  --input-height: 38px;
  --chip-height: 32px;
  --pagination-item-height: 32px;
  --icon-btn-height: 56px;
  --chip-container-height: 32px;

  --breakpoint-sm: 375px;
  --breakpoint-md: 425px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1440px;

  --mio-theme-v2-headline-s-font-size: 24px;

  --animate-ripple-hide: ripple-animation-hide 500ms linear forwards;
  --animate-select-toggle-button: select-toggle-button 1000ms linear forwards;
  --animate-float: float 3s ease-in-out infinite;
}

@layer components {
  .c-border {
    @apply rounded-sm border-(--color-border) border-2;
  }

  .button {
    @apply min-h-[var(--btn-height)] relative overflow-hidden rounded-sm px-3 py-1 cursor-pointer;
    @apply duration-200 transition-colors select-none;
  }

  .button-contained {
    @apply bg-primary hover:bg-button-hover;
  }

  .button-warning {
    @apply bg-red-400 hover:bg-red-500;
  }

  .button-outlined {
    @apply rounded-sm bg-white hover:bg-button-outlined-hover;
  }
}

@keyframes ripple-animation-hide {
  to {
    /* transform: scale(4); */
    opacity: 0;
  }
}

@keyframes select-toggle-button {
  to {
    /* transform: scale(4); */
    background-color: var(--color-toggle-button-selected);
  }
}